page-seleccion-colegio {

  .contacto{
    background-color: rgba(0,0,0,0);
  }
  .list-colegios
  {
    background-color: white;
  }
  .logo{
    color:white;
    font-size: 30px;
  }
  .white-text
  {
    color: white;
  }
}
