<!--
  Generated template for the RegistrarsePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <custom-navbar titulo="Registrarse"></custom-navbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="grado_options.options.length == 0 && grados_searched == true">
        <h3 text-wrap text-center> No se encuentran grados </h3>
    </ng-container>
    <ng-container *ngIf="grado_options.options.length > 0">
        <form [formGroup]="registro_form" (ngSubmit)="verify_form()">
            <ion-grid>

              <ion-row>
                <ion-col col-12>
                  <ion-item>
                    <ion-label floating>Nombres</ion-label>
                    <ion-input #nombreInput required formControlName="nombre" [attr.maxlength]="60" clearInput></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-12>
                  <ion-item>
                    <ion-label floating>Apellidos</ion-label>
                    <ion-input required formControlName="apellido" [attr.maxlength]="60" clearInput></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-12>
                  <ion-item>
                    <ion-label floating>Número de Teléfono</ion-label>
                    <ion-input type="tel" required formControlName="telefono" [attr.maxlength]="60" clearInput></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

                <ion-row>
                  <ion-col col-12>
                    <ion-item>
                      <ion-label floating>Correo electrónico</ion-label>
                      <ion-input type="email" required formControlName="email" [attr.maxlength]="60" clearInput></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-12>
                    <ion-item>
                      <ion-label floating>Contraseña</ion-label>
                      <ion-input type="password" required formControlName="password" [attr.maxlength]="60"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-12>
                    <ion-item>
                      <ion-label floating>Repita la contraseña</ion-label>
                      <ion-input type="password" required formControlName="password_confirmation" [attr.maxlength]="60"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-12>
                    <ion-item>
                      <ion-label color="dark">Encargado/a </ion-label>
                        <ion-select formControlName="tipo_encargado" interface="popover" title="Encargado/a">
                          <ion-option value="papa">Papá</ion-option>
                          <ion-option value="mama">Mamá</ion-option>
                          <ion-option value="tutor">Tutor</ion-option>
                        </ion-select>

                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                        <ion-item>
                            <ion-label color="dark">Secciones</ion-label>
                            <ion-select formControlName="secciones_ids" multiple="true" okText="OK" cancelText="Cancelar" title="Grado">
                                <ion-option *ngFor="let option of grado_options.options" value="{{option.value}}">{{ option.key }}</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                        <button ion-button full type="submit" [disabled]="!registro_form.valid">REGISTRAR</button>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </form>
    </ng-container>
</ion-content>
