page-noticias-detalles {
  .scroll-content {
    background-color: $grey-light2;
  }
  .titulo {
    font-weight: 500;
    color: black;
    text-transform: uppercase;
  }
  .fecha{
    color: grey;
    font-size:13px;
  }
}
