
<ion-header>
  <custom-navbar titulo="NOTICIAS"></custom-navbar>
</ion-header>


<ion-content #content>

  <ion-refresher (ionRefresh)="reload_content($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tire para actualizar"
      refreshingSpinner="crescent"
      refreshingText="Recargando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="noticias.length > 0" no-lines no-padding>

      <ion-item *ngFor="let noticia of noticias; let i=index" (click)="noticia_was_clicked( noticia )" no-margin>

        <ion-card>

          <ng-container *ngIf="noticia.archivo != null">
            <img  src="{{noticia.archivo.path_string}}" height="200px"/>
          </ng-container>

          <ion-card-content>
          <!-- <ion-grid> -->
            <ion-row>

              <ion-col col-11>
                <p text-wrap item-left class="titulo">{{ noticia.titulo }}</p>
                <p text-wrap item-right class="fecha">{{ noticia.fecha }}</p>
              </ion-col>

              <ion-col col-1 style="margin:auto">
                <ion-icon class="icono" name="ios-arrow-forward"></ion-icon>
              </ion-col>

            </ion-row>
          <!-- </ion-grid> -->
          </ion-card-content>

        </ion-card>

      </ion-item>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-item *ngIf="noticias.length == 0 && has_loaded == true " no-lines>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h2 text-center>No hay noticias que mostrar</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

</ion-content>
