page-noticias-index {
  .scroll-content {
    background-color: $grey-light2;
  }
  .titulo {
    font-weight: 500;
    color:$primary;
    text-transform: uppercase;
  }
  .fecha{
    font-weight: 500;
    font-size: 13px;
    color:$grey2;
  }
  .icono{
    color:$grey2;
  }
}
