
<ion-header>
    <custom-navbar titulo="AVISO"></custom-navbar>
</ion-header>


<ion-content padding>
    <ion-card *ngIf="aviso.id!=null">

      <!-- <img  src="{{ (aviso.archivo != null) ? aviso.archivo.path_string : 'assets/imgs/blank.png' }}" height="200px"/> -->
      <div *ngIf="aviso.archivo != null">
        <img  src="{{aviso.archivo.path_string}}" height="200px"/>
      </div>

        <ion-card-header primary>
            <ion-grid>
                <ion-row>
                    <ion-col col-6 class="alinear">
                      <ion-icon class="iconos" name="ios-albums-outline"></ion-icon>

                        <h2 text-wrap class="grado">{{ aviso.grado_nombre }}</h2>
                    </ion-col>
                    <ion-col col-6 class="alinear">
                      <ion-icon class="iconos" name="ios-calendar-outline"></ion-icon>

                        <h2 text-wrap class="fecha">{{ aviso.fecha }}</h2>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>

        <ion-card-content>
            <ion-card-title text-center color="primary">
                <h2 class="titulo">{{aviso.titulo}}</h2>
            </ion-card-title>
            <hr>
              <p text-wrap class="e2e-inner-html-bound" [innerHTML]="aviso.contenido"></p>
              <p class="firma">{{ aviso.firma }}</p>
            <hr>
              <!-- <button ion-button full (click)="marcar_como_leido_was_clicked()">
                <ng-container *ngIf="leido" class="boton-leido">
                  Leído <ion-icon name="checkmark" padding></ion-icon>
                </ng-container>
                <ng-container *ngIf="!leido" class="boton-noleido">
                  Marcar Leido
                </ng-container>
              </button> -->
            
                <ng-container *ngIf="leido" >
                  <button ion-button full class="boton-leido" (click)="marcar_como_leido_was_clicked()">
                    Leído <ion-icon color="celeste" name="md-checkmark" icon-end padding></ion-icon>
                  </button>
                </ng-container>
                <ng-container *ngIf="!leido">
                  <button ion-button full class="boton-noleido" (click)="marcar_como_leido_was_clicked()">
                    Marcar como Leído
                  </button>
                </ng-container>
        </ion-card-content>
    </ion-card>
</ion-content>
